<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
		<title>Crash reports parser | stacktrace</title>
    </head>
    <body>
	   <header>File: {{filename}}<br />Symbols path: {{symbols_path}}<br /><a href="/">Go back</a></header>
	   <hr>
	   <h3>stacktrace</h3>
	   <pre>{{out}}</pre>
	   %if err != "":
           <h3>minidump_stackwalk output</h3>
           <pre>{{err}}</pre>
	   %end
	   <hr>
	   <footer>Generated in {{generate_time}} seconds</footer>
	</body>
</html>